<!doctype html>
<html>


<head>

<title>欢迎登录</title>

<script>

function myFunction()

{

document.getElementById("demo").innerHTML="<b><u>RP+300</b></u>";

}

</script>
</head>


<body bgcolor="pink" text="blue">
    <!--貌似没意义
    <h1>{{hello}}</h1>
    -->
    <p id="demo"><b><u>欢迎来到我的主页</u></b></p>
    <button type="button" onclick="myFunction()"><b>点击有惊喜</b></button>
    <p><i>版权所有&nbsp;&copy;&lt;2018-5-23&gt;&nbsp;TUTU0016</i></p>
    
    <!--罗列所有公开的博客内容-->
    <table>
    <tr>
        <th>发布时间</th>
        <th>主题</th>
        <th>内容</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{post.published_date}}</td>
        <td>{{post.title}}</td>
        <td>{{post.text|linebreaksbr}}</td>
    </tr>
    {% endfor %}
    </table>
</body>


</html>